{
  "ebay": {
    "url": "http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsAdvanced&SERVICE-VERSION=1.0.0&SECURITY-APPNAME=__APIKEY__&RESPONSE-DATA-FORMAT=JSON&REST-PAYLOAD=true&keywords=lupin&sortOrder=StartTimeNewest&itemFilter(0).name=ExcludeCategory&itemFilter(0).value(0)=63057&itemFilter(0).value(1)=51567&itemFilter(0).value(2)=11791&itemFilter(0).value(3)=48605&itemFilter(0).value(4)=66783&itemFilter(0).value(5)=73570&itemFilter(0).value(6)=29223&itemFilter(0).value(7)=905&itemFilter(0).value(8)=63852&itemFilter(0).value(9)=4095&itemFilter(0).value(10)=301&itemFilter(0).value(11)=63869&itemFilter(0).value(12)=66763&itemFilter(0).value(13)=36589&itemFilter(0).value(14)=146247&itemFilter(0).value(15)=139784&itemFilter(0).value(16)=171228&itemFilter(0).value(17)=29798&itemFilter(0).value(18)=551",
    "apiKey": "<developer key for accessing eBay API>"
  }
}