{
  "ebay": {
    "url": "https://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsAdvanced&SERVICE-VERSION=1.0.0&SECURITY-APPNAME=__APIKEY__&RESPONSE-DATA-FORMAT=JSON&REST-PAYLOAD=true&keywords=__KEYWORDS__&sortOrder=StartTimeNewest&itemFilter(0).name=ExcludeCategory&__EXCLUDECATEGORIES__",

    "apiKey": "<developer key for accessing eBay API>",

    "keywords": [
      "lupin",
      "-lupine",
      "-%22harry+potter%22",
      "-%22lego+potter%22",
      "-Thewlis",
      "-%22professor+lupin%22"
    ],

    "categories": {
      "exclude": [
        "3632",
        "4233",
        "177661",
        "2220",
        "53159",
        "15709",
        "57990",
        "63862",
        "156344",
        "21205",
        "105440",
        "52525"
      ]
    }
  }
}